body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

.input-validation-error {
  border-color: #dc3545 !important;
}
.field-validation-error {
  color: #dc3545!important;
}
.mb-2, .my-2 {
  margin-bottom: .5rem !important;
}
.mb-1, .my-1 {
  margin-bottom: .25rem !important;
}
.mx-2 {
  margin-left: .5rem !important;
  margin-right: .5rem !important;
}

.mx-1 {
  margin-left: .25rem !important;
  margin-right: .25rem !important;
}
.mt-2, .my-2 {
  margin-top: .5rem;
}
.mt-1, .my-1 {
  margin-top: .25rem;
}

.tooltip-danger {
  --balloon-color: #d9534f;
}
.tooltip-warning {
  --balloon-color: #f0ad4e;
}
.pl-0, px-0{
  padding-left:0;
}

